body{
background: #1F1C2C;  
background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
}
td, th {
    padding: 10px;
    border: 2px solid black;
    color: rgb(17, 41, 107);
    border-radius: 1em;
  }
table {
    background-color: rgb(117, 131, 119);
    border-radius: 1em;
    text-align: center;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
button {
  border-radius: 20px;
  width:100px;
  color:white;
  background-color: rgb(68, 68, 68);
  border:none;
}
button:hover {
  cursor: pointer;
}
p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


